kicad/*.bak
kicad/*.bck
kicad/*.dcm
kicad/*.kicad_pcb-bak
kicad/fp-info-cache
kicad/PowerSupply-cache.lib
kicad/_autosave*
MicroCode/tools/
bin/
.metadata/
*.elf
*.map
*/obj/
*.vscode 
*.vs
*.log
*.obj